body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: url('../images/food1.jpg') center/cover no-repeat;
  color: white;
  padding: 80px 0;
}

.recipe-card {
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.recipe-card img {
  width: 100%;
  max-width: 353px;
  height: 235px;
  object-fit: cover;
  margin: auto;
}

/* FORCE SAME IMAGE HEIGHT FOR ALL CARDS */
.recipe-card .card-img-top {
  height: 235px !important;
  width: 100%;
  object-fit: cover;
}



.recipe-card img {
  transition: transform 0.3s ease;
}

.recipe-card:hover img {
  transform: scale(1.03);
}

.recipe-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}



